<a href="https://colab.research.google.com/github/nandita162/Nutritrion-Modeling/blob/main/Nutrition_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dataset

In [ ]:
import pandas as pd 
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_excel('/content/drive/My Drive/Colab Notebooks/Nutritional Survey.xlsx')
shape=df.shape
print("Size of dataset:",shape)
df.head()

Mounted at /content/drive
Size of dataset: (55, 9)

   Gender  ... How often do you exercise?
0  Female  ...                      often
1    Male  ...                      daily
2  Female  ...                      often
3    Male  ...                      often
4  Female  ...                 not at all

[5 rows x 9 columns]

Installing Kmodes

In [ ]:
pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/9b/34/fffc601aa4d44b94e945a7cc72f477e09dffa7dce888898f2ffd9f4e343e/kmodes-0.11.0-py2.py3-none-any.whl
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.0

Data Preparation

In [ ]:
print (df.info())
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for feat in df:
    df[feat] = le.fit_transform(df[feat].astype(str))
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Gender                                         55 non-null     object
 1   Age                                            55 non-null     object
 2   Disease (if any)                               55 non-null     object
 3   Allergic food item (if any)                    55 non-null     object
 4   How is your eating habits?                     55 non-null     object
 5   How many times do you take meal in a day?      55 non-null     int64
 6   Type of Job                                    55 non-null     object
 7   How many hours in a day did you usually work?  55 non-null     object
 8   How often do you exercise?                     40 non-null     object
dtypes: int64(1), object(8)
memory usage: 4.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Gender                                         55 non-null     int64
 1   Age                                            55 non-null     int64
 2   Disease (if any)                               55 non-null     int64
 3   Allergic food item (if any)                    55 non-null     int64
 4   How is your eating habits?                     55 non-null     int64
 5   How many times do you take meal in a day?      55 non-null     int64
 6   Type of Job                                    55 non-null     int64
 7   How many hours in a day did you usually work?  55 non-null     int64
 8   How often do you exercise?                     55 non-null     int64
dtypes: int64(9)
memory usage: 4.0 KB
None

Kmodes Implementation

In [ ]:
from kmodes.kmodes import KModes
km_huang = KModes(n_clusters=2, init = "Huang", n_init = 1, verbose=1)
df = df.reset_index(drop=True)
fitClusters_huang = km_huang.fit_predict(df)
fitClusters_huang # Predicted clusters

# Choosing K by comparing Cost against each K
cost = []
for num_clusters in list(range(1,5)):
    kmode = KModes(n_clusters=num_clusters, init = "Huang", n_init = 1, verbose=1)
    kmode.fit_predict(df)
    cost.append(kmode.cost_)

# Combining the predicted clusters with the original DF
df_copy=df.copy()
df = df_copy.reset_index(drop=True)
clustersDf = pd.DataFrame(fitClusters_huang)
clustersDf.columns = ['cluster_predicted']
combinedDf = pd.concat([df, clustersDf], axis = 1).reset_index(drop=True)
#combinedDf = combinedDf.drop(['index', 'level_1'], axis = 1)
combinedDf.head()

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 194.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 208.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 7, cost: 177.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 16, cost: 152.0
Run 1, iteration: 2/100, moves: 5, cost: 152.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 12, cost: 155.0

   Gender  Age   ...  How often do you exercise?  cluster_predicted
0       0     1  ...                           3                  1
1       1     1  ...                           0                  1
2       0     0  ...                           3                  0
3       1     1  ...                           3                  1
4       0     1  ...                           2                  0

[5 rows x 10 columns]